---
layout: default
---
<div class="row">
  <div class="col-md-10 blog-main">

    <hr>
    <center>
      <div class=row>
	
        <div class="col-md-5"><img src="{{ site.splash | relative_url }}" class="navbar navbar-dark bg-dark"  style="width:40%;height:auto"/></div>
	
        <div class="col-md-5">
          <p class="lead">
	    <h4>EIC Software Portal</h4>
	    This is the main portal to the EIC software, repositories, documentation and resources.
	    It is developed and maintained by the EICUG and the ePIC Collaboration.
      
	    <!-- 
	    <hr/>
	    Questions? Contact the EICUG Software Working Group Conveners:<br/><a href="mailto:eicug-software-conveners@eicug.org">eicug-software-conveners@eicug.org</a>
            -->
	  </p>
    </center>
<hr>

<p><a href="./documentation/getstarted.html"><img src="/assets/images/support/GetStartedClick.png" alt="Get Started" width="48%" /></a>
<a href="./documentation/tutorials.html"><img src="/assets/images/support/TutorialClick.png" alt="ePIC Tutorials" width="48%" /></a>
<a href="https://hsf-training.org/training-center"><img src="/assets/images/support/HEPClick.png" alt="HEP Software Training Center" width="48%" /></a>
<a href="./documentation/faq.html"><img src="/assets/images/support/faqClick.png" alt="FAQ" width="48%" /></a>
<!--a href="https://eic.jlab.org/epic/image_browser.html"><img src="/assets/images/support/ImageViewerClick.png" alt="ePIC Image Viewer" width="48%" /></a></p-->

<p>Welcome to the <strong>ePIC Home Page</strong>!</p>

<p>Our mailing list: <a href="mailto:eic-projdet-compsw-l@lists.bnl.gov"><img src="/assets/images/site/icons/email.png" alt="emailicon" width="3%" /></a> eic-projdet-compsw-l@lists.bnl.gov</p>

<p>Subscribe here: <a href="https://lists.bnl.gov/mailman/listinfo/eic-projdet-compsw-l">https://lists.bnl.gov/mailman/listinfo/eic-projdet-compsw-l</a></p>


</div> 
    
	</div> <!-- class md5 -->
      </div> <!-- class row -->
    <!--/center--> <!-- class sm12 blog main -->
    <!--hr/>
    {% if site.display_news %}
    {% include news/homenews.md %}
    {% endif %}
    <hr/-->


<hr/>
    <table width="100%"><tr>
<td><div style="text-align:left;">
    &copy;2023 EIC User Group and ePIC Collaboration
</div></td>

<td><div style="text-align:right;">
  <em>Site built at {{ site.time }}</em>
</div></td>
    </tr></table>

  </div> <!-- class row -->
