<nav class="navbar navbar-expand-lg fixed-top site-navbar" data-bs-theme="dark">
  <div class="container-fluid site-navbar-inner">
    <a class="navbar-brand" href="{{ '/' | relative_url }}">
      <img src="{{ site.eic_logo | relative_url }}" height="32" width="32">
      &nbsp;
      <img src="{{ site.home_icon | relative_url }}" height="16" width="16">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto">
        {% for menu in site.data.menus %}
        {% if menu.exclude or menu.right %}{% continue %}{% endif %}
        {% include layouts/autodrop_data.md what=menu.name %}
        {% endfor %}
      </ul>

      <ul class="navbar-nav ms-auto align-items-lg-center">
        {% for menu in site.data.menus %}
        {% if menu.exclude or menu.right != true %}{% continue %}{% endif %}
        {% include layouts/autodrop_data.md what=menu.name %}
        {% endfor %}
        <li class="nav-item ms-lg-2">
          <a class="navbar-brand mb-0" href="https://github.com/eic" target="_blank" rel="noopener noreferrer">
            <img src="{{ '/assets/images/site/GitHub-Mark-Light-32px.png' | relative_url }}" height="32">
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
